.phot{
  float: left;
  margin-right: 30px;
}
#ingredient{
  border: 2px solid blue;
  border-collapse: collapse;
}

th, td{
  border: 1px solid blue;
}
.btn{
  -webkit-appearance: none;
  margin: 5px;
}
